$base-color1: #0b2447;
$base-color2: #212a3e;
$gradient-background:linear-gradient(135deg, $base-color2, $primary-color2 );
$border-dark: rgba($base-color1, 0.88);
$primary-color1: #19376d;
$primary-color2: #394867;
$secondary-color1: #576cbc;
$secondary-color2: #9ba4b5;
$text-color1: #f1f6f9;
$text-color2: #a5d7e8;

$border-radius: 8px;
$marginTop: 50px;

body {
  background-color: #ffffff
  ;
}

#forms {
  height: 100vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageContainer {
  background: $gradient-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.titles {
  margin-top: 20%;
  margin-bottom: 20px;
  text-align: center;
  h1 {
    color: $text-color1;
    letter-spacing: 2px;
    font-size: 50px;
  }
  h2 {
    color:$text-color2;
    letter-spacing: 1px;
  }
}

.inputsContainer {
  display: block;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 180px;
}

.textField {
  width: 100%;
  min-height: 40px;
  border-radius: $border-radius;
  font-size: larger;
  margin-bottom: 20px;
}

.buttonHolder {
  width: 100%;
  height: 6vh;
  display: block;
  text-align: center;
  padding: 10 5 5 10px;

}

.primary-button {
  width: 20vw;
  height: 30px;
  background-color: $text-color2;
  border-color: $text-color1;
  border-radius: $border-radius;
  font-size: medium;
  font-weight: bolder;
  margin-top: 10px;
}

.secondary-button {
  background-color: $primary-color1;
  color: rgba($text-color1, 0.68);
  border-radius: $border-radius;
  border: 1px solid rgba($text-color1, 0.68);
  height: 20px;
  margin-top: 10px;
}
