$base-color1: #0B2447;
$base-color2: #212A3E;
$border-dark: rgba($base-color1, 0.88);
$primary-color1: #19376D;
$primary-color2: #394867;
$secondary-color1: #576CBC;
$secondary-color2: #9BA4B5;
$text-color1: #F1F6F9;
$text-color2: #A5D7E8;

body {
  background-color: $base-color2;
}

#page-container {
  background-color: #19376D;

}

